$safetyWhite: #fff;
$safetyBlue: #4285F4;
$safetyDark: #323232;
$safetyGrey: rgb(167, 167, 167);
header {
    background: #020202c7;
    color: $safetyWhite;
    height: 40px;
    h2 {
        margin: 0px;
        font-weight: 400;
        position: relative;
        left: 22%;
        top: 9px;
        font-size: 15px;
        width: fit-content;
        height: fit-content;

    }
    #hover-glass-effect {
        cursor: pointer;
        /* transform: perspective(1px) translateZ(0);
            transition-duration: 0.3s;
            box-shadow: 0 0 1px rgba(0, 0, 0, 0); */
    }
    img {
        width: 16px;
        height: 16px;
        display: inline-block;
        position: absolute;
        left: 28%;
        top: 11px;
    }
    a {
        text-decoration: none;
        cursor: pointer;
        color: $safetyWhite;
        position: relative;
        right: -66%;
        top: -12px;
        margin: 0px 40px 0px 0px;
        font-size: 15px;
        padding: unset;
    }
    a:hover {
        color: $safetyBlue;
        transition-timing-function: ease-in;
    }
}

main {
    text-align: center;
    div {
        position: relative;
        margin: 52px 0px 0px 0px;
        a {
            text-decoration: none;
            cursor: pointer;
        }
        img {
            margin: 10px 0px 0px 0px;
            color: #ccc;
        }
    }
}